$font-clr: #faf8ff;
$border-clr: #aca9bb;
$popup-scroll-border-clr: #1C1C1C;
@mixin line-break {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  padding-left: 250px;
  color: $font-clr;
  text-align: center;
}

.page-title {
  font-size: 2.3rem;
}

.credits {
  font-size: .8rem;
}

.manager-page {
  display: grid;
  grid-template-areas:
    "header header"
    "nav-bar  main"
    "nav-bar  main";
  grid-template-rows: 100px;
  grid-template-columns: 250px;
  z-index: 0;
  max-width: 100vw;
}

.area-to-click {
  position: absolute;
  width: 90%;
  min-height: 90%;
  z-index: 0;
}

.items {
  min-height: 90vh;
}

.modal {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: #000000;
  @include flex-center();
}
.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  &:hover {
    background-color: #aca9bb;
  }
  @include flex-center();
}

.close-btn-img {
  width: 80%;
}

.modal-img {
  
  max-height: 90%;
  max-width: 95%;
}

.header {
  grid-area: header;
  margin: 0;
  border-bottom: 3px solid $border-clr;
  display: flex;
  align-items: center;
}

.nav-bar {
  grid-area: nav-bar;
  border-right: 3px solid $border-clr;
}

.path {
  display: flex;
  align-items: flex-end;
  height: 100px;
  width: 80%;
  margin-left: 50px;
  margin-top: 10px;
  border-bottom: 3px solid $border-clr;
  padding: 10px;
}

.path-name {
  font-size: 1.3rem;
  color: $font-clr;
  min-height: 35px;
  display: flex;
  align-items: center;
}

.back-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  @include flex-center();
  margin-right: 20px;
  z-index: 1;
}

.back-btn-img {
  width: 25px;
}

.items-container {
  width: 100%;
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(18, 1fr);
  & {
    @media (max-width: 2400px) {
      grid-template-columns: repeat(14, 1fr);
    }
    @media (max-width: 1920px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.item-container {
  width: 100px;
  height: 140px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  z-index: 1;
}

.item {
  width: 90%;
  height: 90%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  padding: 5px;
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: #6e6d70;
  }
}

.img-container {
  width: 80px;
  height: 70px;
  background-size: 80%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position: center;
  @include flex-center();
  flex-direction: column;
  position: relative;
}

.svg-folder {
  width: 72px;
}

.svg-box {
  width: 61px;
}

.unknown-extension {
  width: 61px;
  height: 50px;
  border: 2px solid $border-clr;
  border-radius: 0.5rem;
  @include flex-center();
}

.description {
  font-size: 0.5rem;
  color: $font-clr;
  word-break: normal;
}

.item-name {
  color: $font-clr;
  height: 30px;
  font-size: 0.7rem;

  word-break: break-all;
}

.popup {
  width: 250px;
  max-height: 500px;
  padding: 10px;
  background-color: $border-clr;
  border-radius: .5rem;
  @include flex-center();
  position: absolute;
  z-index: 1;
}

.popup-buttons {
  width: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  &::-webkit-scrollbar-track {
    background-color: $border-clr;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: $border-clr;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $popup-scroll-border-clr;
    border-radius: 5px;
  }
}

.popup-button {
  width: 90%;
  height: 35px;
  min-height: 35px;
  padding: 2px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $popup-scroll-border-clr;
  &:last-child {
    border: none;
  }
}

.move-delete-btn-img {
  width: 20px;
  margin-right: 10px;
}

.btn-name {
  font-size: .9rem;
}

.updating-msg-container {
  background-color: $border-clr;
  border-radius: 1rem;
  width: 800px;
  height: 8rem;
  z-index: 3;
  @include flex-center();
  text-align: center;

}

.updating-msg {
  color: $popup-scroll-border-clr;
  width: 90%;
  line-break: normal;
  font-size: 1.5rem;  
  z-index: 3;
}

.do-nothing {
  position: absolute;
  @include flex-center();
  height: 100%;
  width: 100%;
  z-index: 3;
}


.error-page {
  width: 100%;
  height: 100%;
  @include flex-center();
  background-color: $popup-scroll-border-clr;
}


.fatal-error-msg {
  color: $font-clr;
  font-size: 3rem;
  max-width: 800px;
  text-align: center;
}


.rules {
  position: absolute;
  top: 700px;
  right: 5px;
  width: 500px;
  height: 500px;
  color: $popup-scroll-border-clr;
  border-radius: 2rem;
  border: 2px solid $border-clr;
  @include flex-center();
  flex-direction: column;
  z-index: 4;
  background-color: $border-clr;
}

.rules-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.rule {
  font-size: 1.3rem;
}

.hide-rules  {
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  display: grid;
  align-items: center;
  position: absolute;
  left: -3.4rem;
  &:hover {
    background-color: #6e6d70;
  }
  .show-hide-rules-btn {
    width: 60%;
    position: absolute;
    left: 25%;
  }
}
.show-rules {
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  display: grid;
  align-items: center;
  position: fixed;
  right: -1.5rem;
  top: 920px;
  &:hover {
    background-color: #6e6d70;
  }
  .show-hide-rules-btn {
    width: 60%;
    position: absolute;
    left: 18%;
    transform: rotate(180deg);
    z-index: 4;
  }
}